.form{
  width: 500px;
  position: relative;
  margin : auto;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: rgb(216, 34, 110);
  color: white;
}
.form input{
  width: 250px;
  border: none;
  outline: none;
}

@media(max-width:500px) {
  .form{
    width: 400px;
  }
}